<div class="main-container">
  <div class="container">
    <div class="text-center">
      <h2>Dashboard</h2>
    </div>

    {{#if posts.length}}
    <div class="row justify-content-center">
      <div class="col-md-8">
        {{#each posts as |post|}}
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title"><a href="/post/{{post.id}}">{{post.name}}</a></h4>
            <p class="card-text">{{post.content}}</p>
            <p class="card-text"><small class="text-muted">Posted by {{user.username}} on {{format_date date_created}}</small></p>
            <button class="btn btn-danger" data-id="{{post.id}}">DELETE</button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}

    <div class="text-center">
      <h3>Create a New Post:</h3>

      <form class="form new-post-form">
        <div class="form-group">
          <label class="form-label" for="title">Title</label>
          <input class="form-input title" type="text" id="title" name="title">
        </div>
        <div class="form-group">
          <label class="form-label" for="content">Content</label>
          <textarea class="form-input content" id="content" name="content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/dashboard.js"></script>